body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app{
  height: 100vw;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thing {
  width: 200px;
  background-color: bisque;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem auto;
  padding: 2rem;
  box-shadow: 5px 5px 10px black;
}
.thing > .text{
  font-weight: bold;
}
